<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/sanitize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body class="container">
    <header>
      <h1 class="display-4 text-primary"><%= title %></h1>
    </header>
    <main>
      <p class="h5 my-4">
        Hi, <span><%= login.name %></span>!<br />
        Welcome to <%= title %>.
      </p>
      <form method="post" action="/md">
        <div class="form-group">
          <label for="find">FIND</label>
          <input
            type="text"
            id="find"
            name="find"
            class="form-control"
            value="<%= form.find %>"
          />
        </div>
        <input type="submit" value="検索" class="btn btn-primary" />
      </form>
      <p class="h5 my-4"><%= message %></p>
      <table class="table">
        <% for (let i in content) { %>
        <tr>
          <td>
            <a
              href="/md/mark?id=<%= content[i].id %>"
              class="text-dark"
            >
              <%= content[i].title %>
            </a>
          </td>
        </tr>
        <% } %>
      </table>
      <p> </p>
      <p><a href="/md/add">※データを登録</a></p>
    </main>
  </body>
</html>
